@use "variables" as v;

.section-porque {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    }

.seccion-multimedia {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    .multimedia-img-container{


        img {
            width: 100%;
            height: 100%;
            max-width: 500px;
            margin-bottom: 1rem;
        }
    }

    .iframe-container {
        overflow: hidden;
        height: 100%;
        width: 100%;
    }

}



.agendar-main {
    form {
        div {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }

    input,
    label,
    textarea {
        max-width: 500px;
    }

    input,
    textarea {
        margin-bottom: 1.5rem;
    }

    .btn {
        background-color: v.$dark-primary;
        color: v.$white-primary;
        margin-bottom: 1.5rem;
    }

    img {
        object-fit: contain;
    }
}

.agendar-img-container {
    padding: 0 1rem;

    img {
        width: 100%;
        height: 100%;
        max-width: 600px;
        object-fit: contain;
    }
}
